<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name: {{ book.name }}</h1>
    <p>Price: {{ book.price }}</p>
    <p>Author: {{ book.author.name }}</p>
    <p>Pages: {{ book.page_count }}</p>
    <p>Cover Type: {{book.cover_type }}</p>
    <h4>Categories:</h4>
    <ul>
        {% for category in book.categories.all %}
            <li>{{ category.category }}</li>
        {% endfor %}
    </ul>
    <img src="/media/{{ book.image }}" alt="{{ book.name }}">
</body>
</html>